:root{
    --bgcolor: rgb(110, 179, 236);
    --textwhite: #FFf;

}

* {
    box-sizing: border-box;
  }

  body {
    background: var(--bgcolor);
    color: var(--grey);
    font-family: Ubuntu, Tahoma, sans-serif;
    
  }
  
  header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
  }

  .continer-quiz{

      justify-content: center;
      align-items: center;
      margin: 0 auto;

  }

  .info-quiz{
      display: flex;
      flex-direction:  column;
      justify-content: center;
      align-items: center;
  }

  .qcontainer{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center; 
    padding: 40px 20px;
    margin: auto;
    
  }

  .btstart{
      padding: 10PX 0;
      width: 100px;
      text-align: center;
  }


.footer-id {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}